@tailwind base;

@layer base {
    :root {
        --primary-color: #dd3327;
        --text-heading-color: #111111;

        --input-border-color: #ebebeb;
        --input-border-focus-color: #111111;
        --input-border-radius: 30px;

        --card-product-radius: 10px;
    }

    html {
        font-size: 62.5%;
    }

    * {
        font-size: 1.6rem;
    }

    .h4, h4 {
        font-size: clamp(2rem, 3vw, 32px);
        margin-bottom: clamp(1rem, 3vw, 2rem);
        @apply font-500 tracking-normal text-heading leading-heading;
    }

    a, a:hover {
       @apply text-heading;
    }
}

@tailwind components;

@layer components {
    /* Search Input Component */
    .search-input {
        @apply border border-inputBorder rounded-inputBorder transition;

        &:focus-within {
            @apply border-heading;
        }

        .ant-input-group-addon {
            @apply bg-transparent;
        }

        .ant-input {
            @apply py-6 rounded-inputBorder border-none shadow-none pl-8;
        }

        .ant-btn {
            @apply bg-transparent border-none !text-heading;

            &:hover {
                @apply !bg-transparent text-heading;
            }

            svg {
                @apply size-8;
            }

            div {
                @apply shadow-none;
            }
        }

        .ant-btn.ant-btn-icon-only {
            width: 57px;
        }
    }

    /* Card Product Component */
    .card-product, .ant-card {
        @apply !shadow-none;

        .ant-card-cover {
            @apply rounded-product overflow-hidden;
        }

        .ant-card-body {
            @apply px-0 p-0 pt-6;
        }
    }
}

@tailwind utilities;

@layer utilities {
    .container-fluid {
        @apply mx-auto w-full;
        max-width: calc(var(--container-fluid-width) + var(--gutter-x));
        padding-right: calc(var(--gutter-x)* .5);
        padding-left: calc(var(--gutter-x)* .5);
    }

    .transition {
        transition: all .2s linear;
    }

    @media screen(xl) {
        :root {
            --container-fluid-width: 1410px;
            --gutter-x: 6rem;
        }

        .full-width {
            @apply px-24;
        }
    }
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost.ttf') format('truetype');
}